name: Build Wheels

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
env:
  CIBW_SKIP: pp37* pp310*

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2019]
        arch: [auto]
        include:
          - os: ubuntu-latest
            arch: aarch64
    steps:
      - uses: actions/checkout@v2

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.19.1
        # to supply options, put them in 'env', like:
        env:
          CIBW_BEFORE_BUILD: pip install numpy setuptools wheel cython

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl