name: Build Wheels

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
env:
  CIBW_SKIP: cp27-* cp33-* cp34-* cp35-* pp27* pp36* pp37*

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2019]
        arch: [auto]
        include:
          - os: ubuntu-latest
            arch: aarch64
    steps:
      - uses: actions/checkout@v2

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.2
        # to supply options, put them in 'env', like:
        env:
          CIBW_BEFORE_BUILD: pip install oldest-supported-numpy setuptools wheel

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl